#!/bin/bash

#SBATCH --job-name=$job_name
#SBATCH -D $outdir
#SBATCH -o $outdir/slurm-%A_%a.out
#SBATCH --account=$account
#SBATCH --time=168:00:00
#SBATCH -p c-gh-bio
#SBATCH --cpus-per-task=8
#SBATCH --mem=200G

set -ex
#module load gcc/9.3.0 cuda/11.4 openmpi/4.0.3 openmm/8.0.0 hh-suite/3.3.0 hmmer/3.2.1
#source $ENV

echo "running colabfold_search on $fasta!"
colabfold_search \
--threads 8 --use-env 1 --db-load-mode 0 \
--mmseqs /net/nfs-bio/home/jflucier/home-gh/micromamba/envs/colabfold/bin/mmseqs \
--db1 $colabfold_db/uniref30_2302_db \
--db2 $colabfold_db/pdb100_230517 \
--db3 $colabfold_db/colabfold_envdb_202108_db \
$fasta $colabfold_db $outdir

echo "done!"

