#!/bin/bash

#SBATCH --job-name=$job_name
#SBATCH -D $outdir
#SBATCH -o $outdir/slurm-%A_%a.out
#SBATCH --account=$account
#SBATCH --time=12:00:00
#SBATCH --cpus-per-task=8
#SBATCH --gres=gpu:1
#SBATCH --mem=40G

set -ex

module load gcc/9.3.0 cuda/11.4 openmpi/4.0.3 openmm/8.0.0 mmseqs2/14-7e284 hh-suite/3.3.0 hmmer/3.2.1
source $ENV

export TF_FORCE_UNIFIED_MEMORY="1"
export XLA_PYTHON_CLIENT_MEM_FRACTION="4.0"
export XLA_PYTHON_CLIENT_ALLOCATOR="platform"
export TF_FORCE_GPU_ALLOW_GROWTH="true"

echo "running fold on $align_a3m_file"
colabfold_batch \
--use-gpu-relax --amber --num-relax 3 \
--num-models 3 \
--num-recycle 30 --recycle-early-stop-tolerance 0.5 \
--model-type auto \
--data $colabfold_db \
$align_a3m_file \
$outdir

echo "running AF2multimer-analysis on $outdir"
mkdir -p $outdir/unrelaxed
mv $outdir/*unrelaxed_* $outdir/unrelaxed/
mv $outdir/0_predicted_aligned_error_v1.json $outdir/unrelaxed/
python $script_path/AF2multimer-analysis/colabfold_analysis.py --pred_folder $outdir

echo "zipping results"
cd $outdir/../
zip -r $job_name.zip $job_name/*

echo "done!"




